.test-connection-button{
   background-image: linear-gradient( to bottom, #75838B , #3B4246);
   height: 14.14%;
   width: 12.4rem;
   padding: 1.1em 1em 0.7em 0.85em;
   border-radius: 3rem;
   border:none;
   margin-top: 1%;
   margin-left: 3.5%;
   color: white;
   font-size: 1em;
   cursor: pointer;
}
.log-in-button{
   background:linear-gradient(to bottom,#f80705, #7b1e1d);
   border:none;
   border-width: none;
   height: 14.14%;
   width: 12.6rem; 
   border-radius: 3rem;
   margin-top: 1%;
   margin-left:2% ;
   padding: 1em 0em 0.7em 0em;
   color:  #FFFFFF;
   font-size: 1em;
   cursor: pointer;
}
.log-in-button:disabled {
   background: rgba(17, 52, 70, 0.53);
   color:  rgb(120,139,150,1);
   cursor: default;
   border:none;
   height: 14.14%;
   width: 12.6rem; 
   border-radius: 3rem;
   margin-top: 1%;
   margin-left:2% ;
   padding: 1em 0em 0.7em 0em;
   font-size: 1em;
}

.connection-display-button{
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: rgba(17,52,70,.53);
   border:none;
   color: white;
   width: 200px;
   height: 37px;
   border-radius: 3rem;
   padding: .8rem 0.8rem;
   color: white;
   font-size: 16px;
   cursor: pointer;
}
.log-out-button{
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: rgba(17,52,70,.53);
   border: none;
   border-color: solid rgb(53,81,93,1);
   color: white;
   width: 150px;
   height: 37px;
   border-radius: 3rem;
   padding: .8rem 0.8rem;
   color: white;
   font-size: 16px;
   margin-left: 2%;
   cursor: pointer;
   
}

.hamButton{
   display: flex;
   justify-content: center;
   align-content: center;
   margin-bottom: 2px;
   height: 50px;
   width: 45px;
   background-color: transparent;
   border: none;
  visibility: hidden;
}

@media only screen and (max-width: 900px){
   .hamButton{
     visibility: inherit;
   }
   .log-out-button{
      width: 0px;
      height: 0px;
      border-radius: 0rem;
      padding: 0rem;
      color: white;
      font-size: 1;
      visibility: hidden;
   }
   .connection-display-button{
      width: 0px;
      height: 0px;
      border-radius: 0rem;
      padding: 0rem;
      color: white;
      font-size: 1;
      visibility: hidden;
   }
   
}
@media only screen and (max-width: 530px){
   .test-connection-button{
      background-image: linear-gradient( to bottom, #75838B , #3B4246);
      width: 39%;
      padding: 1rem 1rem 0.7rem 1rem;
      border-radius: 3rem;
      margin-top: 1%;
      color: white;
      font-size: 10px;
     }
     .log-in-button{
     height: 14.14%;
     width: 40%;
     border-radius: 3rem;
     margin-top: 1%;
     margin-left:4px ;
     padding: 0.5rem 0em 0.7em 0em;
     color:  white;
   font-size: 1em;
     }
     .log-in-button:disabled {
      background: rgba(17, 52, 70, 0.53);
      color:  rgb(120,139,150,1);
      height: 14.14%;
     width: 40%;
      padding: 0.5em 0em 0.7em 0em;
      font-size: 1em;
      cursor: default;
   }
}

@media only screen and (max-width: 335px){
   .test-connection-button{
      font-size: 9px;
      padding: 1rem 1rem 0.7rem 1rem;
     }
}