.full-div{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.escape-login-container{
    margin-top: 1%;
    margin-left: 1%;
    margin-right:1%;
    background-color:  rgba(17, 52, 70,0.95);
    height: 410px;
    width: 800px;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(53, 81, 93,1);
    display: flex;
    justify-content: center;
    align-items: center;

}

.oval{
    width: 25px;
    height: 26px;
    background: #6f0202;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left:-8%;
    margin-bottom: 0.9%;
}

p{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.input-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blurred-frame-content{
    margin-bottom: 100px;
}

.sentence{
    color: white;
    font-size: 24px;
    font-family: 'Montserrat';
    margin-bottom:2% ;
}
.heading-text{
        color: white;
       font-family: 'Montserrat', sans-serif;
       font-size: 40px;
       font-weight: 10;
       margin-bottom: 15px;
    }