.card-list{
display: flex;
flex-wrap: wrap;
flex-direction: row;
gap: 15px;
justify-content: center;

}


@media only screen and (min-width: 870px) and (max-width: 1400px) {

    .card-list{
        width:600px ;
        margin-left: auto;
        margin-right: auto;
        }
}