.input-textField{
    background-color: rgba(58,78,90,1);
    border:none;
    border-color: solid rgb(255,255,255,1);
    color: white;
    width: 23.41rem;
    border-radius: 3rem;
    padding: 1rem 1rem 1rem 1.5rem;
    margin-bottom: 5px;
    font-size: 18px;
    
    &::placeholder{
        color: white;
    }

    &:focus{
        outline: none !important;
        box-shadow: 0 0 10px #FFFF;
    }

}

@media only screen and (max-width: 530px){
    .input-textField{
        height: 12.19%;
        width: 72.81%;
        border-radius: 3rem;
        padding: 1rem 1rem 0.9rem 1rem;
        margin-bottom: 5px;
        font-size: 10px;
    
    }
    .oval{
    width: 23px;
    height: 23px;
    background: #6f0202;
    border-radius: 50%;
    display: flex;
     justify-content: center;
    }
}