.ve-main-menu-screen{
    background: url("../../assets/main-menu/mainmenu.png") no-repeat
        center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  min-height: 100vh;
}
.main-menu-sentence1{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat',sans-serif;
}
.main-menu-sentence2{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Montserrat',sans-serif;
    margin-bottom: 50px;
}

