.ve-login-screen{
    min-height: 100vh;
    background: url("../../assets/login/login.jpg") no-repeat
         center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

