.card{
    text-align: center;
    width: 281.44px;
    height: 350px;
    background-image: url('../../../assets/icons/mask.png');
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;

}
.card:hover{
    background-image: url('../../../assets/icons/redMask.png');
}

.card-logo-center{
    margin-top: 15px;
    }
.card-sentence{
       
        color: rgba(255, 255, 255, 0.5);
        font-size: 32px;
        font-family: 'Montserrat';
    }

@media only screen and (min-width: 1535px) and (max-width: 1540px) {
        .card{
            text-align: center;
            width: 210.44px;
            height: 250px;
            background-image: url('../../../assets/icons/mask.png');
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-top-right-radius: 1.5rem;
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }
        .main-menu-sentence1{
                     font-size: 25px;
         
        }
        .main-menu-sentence2{
            font-size: 50px;
        }
        .card-sentence{
       
            color: rgba(255, 255, 255, 0.5);
            font-size: 25px;
            font-family: 'Montserrat';
        }
    }

    