.logos-container{
    display: flex;
    align-content: start;
    margin-left: 15%;
    
}

.logo1-div{
    margin-top: 2%;
    
}

.logo2-div{
    margin-top: 2%;
    margin-left: 15px;
}
.logo1-img{
    height: 30px;
    width: 120px;
}
.logo2-img{
    height: 30px;
    width: 99px;
}
@media only screen and (max-width: 900px){
    .logo1-img{
        height: 35px;
        width:70.89px;
    }
    .logo2-img{
        height: 35px;
        width: 60px;
    }
    .logo2-div{
        margin-left: 10px;
    }
    
}